{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{%static "deps/css/my_footer_css.css"%}">
{% endblock %}


{% block content %}
    <h1 class="mt-5 pt-5"><strong style="color: rgb(37 169 239);   text-shadow: 
    1px 1px 0 #000,   /* Тень 1 */
    2px 2px 0 #000,   /* Тень 2 */
    3px 3px 5px rgba(0,0,0,0.3);  /* Глубокая тень */
">{{ content }}</strong></h1>
{% endblock %}

{% block model_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">«Хотел быть сеньором — стал сижу-работаю-бесплатно»
— Python Developer, 2025 г.</p>
    </div>
</footer>
{% endblock %}

